@using cam.Models
@using cam.Services
@inject NavigationManager NavigationManager
@inject IStudentService studentRepo
@inject IRoomService roomRepo
@inject NotifyService Notify
@implements IDisposable
@inject IModalDialogService ModalDialog

<div  class="grid-30 mobile-grid-100 tablet-grid-50 card-fluid" style="margin-top:1rem;" 
        @ondrop="@(e => HandleDrop())" 
        ondragover="event.preventDefault()">
    <div class="card-body" >
        <h2 class="title-1">@Class.Name - <small>@Class.Time</small></h2>
        <p><small>@Room.Name</small></p>
        @{
            <ul class="list max-400">
                @if(Students != null)
                {
                    @foreach(var student in Students)
                    {
                        <li class="list-item" draggable="true" @ondragstart="@(e => { OnDragStart.InvokeAsync(student); })">
                            @student.EnglishName - @student.KoreanName
                        </li>
                    }

                }
            </ul>

            @* if(Class.Name != "UNSORTED")
            {
                <div style="padding: 1rem 0;">
                    <button style="float: left;" @onclick="@( e => NavigationManager.NavigateTo($"/report/{Class.Id}"))">
                        <i class="fas fa-file-contract fa-2x"></i>
                    </button>
                    <button style="float: right;" @onclick="@(e => { OnRemoveClicked(); })">
                        <i class="fas fa-trash fa-2x"></i>
                    </button>
                </div>
            } *@
        }
    </div>
</div>

@code
{   
    [Parameter] public Student Dragged { get; set; } = new Student();
    [Parameter] public Class Class { get; set; }
    public List<Student> Students { get; set; }
    public Room Room { get; set; } = new Room();


    [Parameter] public EventCallback<Student> OnDragStart {get; set; }
    [Parameter] public EventCallback<Class> OnRemoveClass {get; set; }

    protected override async Task OnInitializedAsync()
    {
        Notify.NotifyDelete += RemoveDragged;
        Students = await studentRepo.GetForClass(Class.Id);
        Room = await roomRepo.Get(Class.RoomId);
    }


    public async Task RemoveDragged()
    {
        if(Students.Contains(Dragged))
            await InvokeAsync(() =>
            {
                Students.Remove(Dragged);
                StateHasChanged();
            });
    }

    async void HandleDrop()
    {
         var message = $"Do you wish to move {Dragged.EnglishName} to {Class.Name} ?";
         var result = await ShowModal(message);

        if(result.Success)
        {
            if(Dragged != null && !Students.Exists(e => e.Id == Dragged.Id))
            {
                Dragged.ClassId = Class.Id;
                var s = await studentRepo.Update(Dragged);
                await Notify.Delete();
                Students.Add(Dragged);
                StateHasChanged();
            }
        }
    }

    public void Dispose()
    {
        Notify.NotifyDelete -= RemoveDragged;
    }

    async void OnRemoveClicked()
    {
        var students = await studentRepo.GetForClass(Class.Id);
        if(students == null || students.Count == 0)
        {
            var message = $"Really REMOVE {Class.Name} class?";
            var result = await ShowModal(message);
            if(result.Success)
            {
                await OnRemoveClass.InvokeAsync(Class);
            }
        }
        else
        {
            await ShowPopup("Warning ...", "You need to MOVE all students first!");
        }
    }

    async Task<ModalDialogResult> ShowPopup(string title, string message)
    {
        ModalDialogOptions options = new ModalDialogOptions()
        {
            BackgroundClickToClose = true,
            Style = "liquid-modal-dialog-title"
        };
        var parameters = new ModalDialogParameters();
        parameters.Add(nameof(message), message);

        return  await ModalDialog.ShowDialogAsync<PopupModal>(title, options, parameters);
    }
    async Task<ModalDialogResult> ShowModal(string message)
    {
        ModalDialogOptions options = new ModalDialogOptions()
        {
            BackgroundClickToClose = false,
            Style = "liquid-modal-dialog-title"
        };
        return  await ModalDialog.ShowDialogAsync<ConfirmationModal>(message, options);
    }
}