@page "/notifications"
@using cam.Models
@using cam.Services
@inject INotificationsService notificationsRepo


<section class="page-body">
    <div class="table-wrapper card">
            <EditForm Model="@newNotification" OnValidSubmit="SaveNotification"> 
                <DataAnnotationsValidator />
                <ValidationSummary />

                <label class="label-1" for="period">Select the period<small>*</small></label>
                <select type="text" id="period" required @bind="newNotification.Period">
                    <option >Select ...</option>
                    <option value="@String.Format("{0:MMM} {1}", DateTime.Now.AddMonths(-1), DateTime.Now.Year)">@DateTime.Now.AddMonths(-1).ToString("MMMM")</option>
                    <option value="@String.Format("{0:MMM} {1}", DateTime.Now, DateTime.Now.Year)">@DateTime.Now.ToString("MMMM")</option>
                    <option value="@String.Format("{0:MMM} {1}", DateTime.Now.AddMonths(1), DateTime.Now.Year)">@DateTime.Now.AddMonths(1).ToString("MMMM")</option>
                </select>

                <label class="label-1" for="new-notification">Select the period<small>*</small></label>
                <textarea id="new-notification" class="textarea-comment" rows="10" @bind="newNotification.Content" style="min-height: 10rem;"/>

                <button type="submit" class="submit-btn" style="width: 30%; ">
                    Save Notification
                </button>
            </EditForm>
        <table>
            <caption class="title-1">Notifications</caption>
            <thead>
                <tr>
                    <th scope="col">Period</th>
                    <th scope="col">Content</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var notification in notifications)
                {
                    <tr>
                        <td data-label=@notification.Id>@notification.Period</td>
                        <td data-label=@notification.Id>
                            <textarea class="textarea-comment" rows="7" id="@notification-content" disabled>@notification.Content</textarea>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>



@code
{
    List<Models.Notification> notifications = new List<Models.Notification>();

    public Notification newNotification = new Notification();

     protected override async Task OnInitializedAsync()
    {
        notifications = await notificationsRepo.Get();
        StateHasChanged();
    }

    async void SaveNotification()
    {
        await notificationsRepo.Insert(newNotification);
        notifications = await notificationsRepo.Get();
        StateHasChanged();
    }

}